{% extends 'aplicacion/base.html' %}
{% load static %}

    {% block titulo %}
        Bodegas
    {% endblock titulo %}

    {% block cabecera %}
    Listado de Bodegas
    {% endblock cabecera %}
        
    {% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
        {% for bodega in bodegas %}
        <tr>
            <td>{{ bodega.nombre }}</td>
            <td>{{ bodega.ciudad }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock contenido %}
