{% extends 'aplicacion/base.html' %}
{% load static %}

    {% block titulo %}
        Premiados
    {% endblock titulo %}

    {% block cabecera %}
    Listado de Vinos premiados
    {% endblock cabecera %}
        
    {% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th>Pais</th>
                <th>Fecha Premio</th>
            </tr>
        </thead>
        <tbody>
        {% for premiado in premiados %}
        <tr>
            <td>{{ premiado.pais }}</td>
            <td>{{ premiado.fechapremio }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock contenido %}