<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Busqueda</title>
</head>
<body>
    <h2>
    Vinos de la categoria {{ categoria }}
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Varietal</th>
            </tr>
        </thead>
        <tbody>
        {% for vino in vinos %}
        <tr>
            <td>{{ vino.categoria }}</td>
            <td>{{ vino.varietal }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>